.linkCard {
  transition: all 0.3s linear;
  margin: 1rem;
}

.linkCard:hover {
  transform: scale(1.02);
}

.card {
  width: 400px;
  height: 560px;
  overflow: hidden;
  background: var(--card);
  border-radius: 0.7rem;
  animation: fadeIn 1s ease 0s 1 normal forwards;
  transition: all 0.5s linear;
}

.image img {
  overflow: hidden;
  height: 235px;
  width: 100%;
  margin-bottom: 1rem;
}

.card .content {
  height: 100%;
  padding: 0 0.6rem;
  /* border: var(--debug); */
}

.card .content .title {
  margin: 0 1rem;
  color: var(--blanco);
  font-family: var(--fontParrafo);
  font-size: 1.8rem;
  transition: all 0.2s linear;
}

.card .content .title:hover {
  color: var(--gris-bajo);
}

.card .body {
  margin: 1.7rem 1rem;
}

.card .body p {
  display: flex;
  justify-content: space-between;
  color: var(--gris-bajo);
  font-family: var(--fontParrafo);
  font-size: 1.2rem;
  border-bottom: 1px solid var(--gris-bajo);
  padding-bottom: 0.4rem;
}

.card .button {
  display: flex;
  justify-content: center;
}

.card .button button {
  padding: 0.5rem;
  transition: 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
