.card {
  width: 290px;
  height: 420px;
  overflow: hidden;
  box-shadow: 0 0 15px -5px;
  transition: 0.5s;
  animation: ease-in;
  background: var(--card);
  border-radius: 1rem;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 15px 0px;
}

.image img {
  overflow: hidden;
  height: 180px;
  width: 100%;
}

.card .content {
  padding-left: 1rem;
}

.card .content .title {
  color: var(--blanco);
  margin-bottom: 0.7rem;
  font-family: var(--fontParrafo);
  font-size: 1.5rem;
}

.card .body {
  margin-top: 1.7rem;
}

.card .body p {
  color: var(--gris);
  font-family: var(--fontParrafo);
}

.card .button {
  display: flex;
  justify-content: center;
}

.card .button button {
  padding: 0.5rem;
  transition: 0.5s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
