.caja {
  /* flex: 1 1 30rem; */
  width: 314px;
  height: 340px;
  background: white;
  border-radius: .5rem;
  border: 0.1rem solid rgba(0,0,0,.2);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  margin: 1.5rem;
  padding: 2rem 2rem;
  border-radius: .5rem;
  text-align: left;
  animation: fadeIn 1s ease 0s 1 normal forwards;
  transition: .2s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.caja img {
  /* height: 15rem; */
  border-radius: .5rem;
  width: 280px;
  height: 170px;
}

.caja h3 {
  font-size: 1.5rem;
  color: #333;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.caja p {
  font-size: 1.3rem;
  color: #666;
  padding: .1rem 0;
}

