@import url('https://fonts.googleapis.com/css2?family=Hind&family=Khand:wght@700&family=Lato&display=swap');

:root {
  --negro: #151515;
  --card: #202020;
  --texto: #666;
  --gris: #3A4F50;
  --principal: #0080bf;
  --blanco: #fff;
  --gris-bajo: #4f6b6d;
  --degradadoLineal: linear-gradient(90deg, var(--morado), var(--gris));

  --fontTitulo: 'Khand', sans-serif;
  --fontParrafo: 'Hind', sans-serif;
  --fontBoton: 'Loto', sans-serif;

  --debug: solid 2px red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

html {
  font-size: 90%;
  overflow-x: hidden;
}

body {
  background: var(--negro);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* padding: 0 9%; */
  padding-top: 2rem;
  border: var(--debug);
}

@media(max-width: 1200px) {
  html {
    font-size: 80%;
  }
}

@media(max-width: 990px) {
  section {
    padding: 0 3%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
