.selectAlphabetical {
  font-size: 1.4rem;
  height: 50px;
  width: 230px;
  text-align: center;
  background-color: var(--card);
  color: var(--texto);
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.4s;
}