.formVideogame {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7rem 2rem 2rem 2rem;
  border: solid 2px green;
}

.formVideogame form {
  width: 70%;
  flex: 1 1 40rem;
  padding: 2rem 3rem;
  border: .1rem solid rgba(0,0,0,.2);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-radius: .5rem;
  background: var(--card);
  cursor: pointer;
  animation: fadeIn 1s ease 0s 1 normal forwards;
  transition: 0.4s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.formVideogame form .inputcaja {
  position: relative;
}

.formVideogame form .inputcaja input, 
.formVideogame form .inputcaja textarea {
  width: 100%;
  background: none;
  color: var(--blanco);
  margin: 1.5rem 0;
  padding: .5rem 0;
  font-size: 1.7rem;
  font-family: var(--fontParrafo);
  border-bottom: .1rem solid var(--texto);
  text-transform: none;
}

.formVideogame form .inputcaja textarea {
  resize: none;
  height: 13rem;
}

.formVideogame form .inputcaja label {
  position: absolute;
  top: 1.7rem;
  left: 0;
  font-size: 1.7rem;
  font-family: var(--fontParrafo);
  color: var(--texto);
  transition: .2s linear;
}

.formVideogame form .inputcaja input:focus ~ label,
.formVideogame form .inputcaja input:valid ~ label,
.formVideogame form .inputcaja textarea:focus ~ label,
.formVideogame form .inputcaja textarea:valid ~ label {
  top: -.5rem;
  font-size: 1.5rem;
  letter-spacing: 1.3px;
  color: var(--gris-bajo);
}

.errorLabel {
  color: red;
  font-size: 1.3rem;
  font-family: var(--fontBoton);
  letter-spacing: 1.3px;
}

.containerCheckbox {
  border: solid 1px var(--texto);
}

.labelCheckbox {
  color: var(--blanco);
  font-size: 1.7rem;
  font-family: var(--fontParrafo);
  letter-spacing: 1.3px;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 3rem;
  border-radius: 5rem;
  background: var(--negro);
  font-size: 1.2rem;
  font-family: var(--fontBoton);
  letter-spacing: 1.3px;
  color: white;
  cursor: pointer;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  transition: all .3s linear;
}

.btn:hover {
  transform: scale(1.1);
}

.containerCheckbox {
  display: flex;
}

.containerColumn {
  margin-right: 1.8rem;
}

.itemCheck {
  margin: 1rem;
  font-size: 1.6rem;
  color: #666;
}

.itemCheck label, input {
  margin-left: 1rem;
  cursor: pointer;
}

@media (max-width: 450px) {
  .btn {
    font-size: 1.8rem;
  }
}