.heading {
  text-align: center;
  background: var(--verde);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.5rem;
  text-transform: uppercase;
  padding: 1rem;
}

.formRecipe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}

.formRecipe .image {
  flex: 1 1 40rem;
  animation: fadeInLeft 1s ease 0s 1 normal forwards;
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.formRecipe .image img {
  width: 100%;
  padding: 2rem;
}

.formRecipe form {
  flex: 1 1 40rem;
  padding: 2rem 3rem;
  border: .1rem solid rgba(0,0,0,.2);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-radius: .5rem;
  background: white;
  cursor: pointer;
  animation: fadeInRight 1s ease 0s 1 normal forwards;
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.formRecipe .heading {
  text-align: left;
  padding: 0;
  padding-bottom: 2rem;
}

.formRecipe form .inputcaja {
  position: relative;
}

.formRecipe form .inputcaja input, 
.formRecipe form .inputcaja textarea {
  width: 100%;
  background: none;
  color: #333;
  margin: 1.5rem 0;
  padding: .5rem 0;
  font-size: 1.7rem;
  border-bottom: .1rem solid rgba(0,0,0,.1);
  text-transform: none;
}

.formRecipe form .inputcaja textarea {
  resize: none;
  height: 13rem;
}

.formRecipe form .inputcaja label {
  position: absolute;
  top: 1.7rem;
  left: 0;
  font-size: 1.7rem;
  color: #666;
  transition: .2s linear;
}

.formRecipe form .inputcaja input:focus ~ label,
.formRecipe form .inputcaja input:valid ~ label,
.formRecipe form .inputcaja textarea:focus ~ label,
.formRecipe form .inputcaja textarea:valid ~ label {
  top: -.5rem;
  font-size: 1.5rem;
  color: var(--limon);
}

.errorLabel {
  color: red;
  font-size: 1.8rem;
  text-transform: lowercase;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 3rem;
  border-radius: 5rem;
  background: var(--degradado);
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  transition: all .3s linear;
}

.btn:hover {
  transform: scale(1.1);
}

.containerCheckbox {
  display: flex;
}

.containerColumn {
  margin-right: 1.8rem;
}

.itemCheck {
  margin: 1rem;
  font-size: 1.6rem;
  color: #666;
}

.itemCheck label, input {
  margin-left: 1rem;
  cursor: pointer;
}

@media (max-width: 450px) {
  .btn {
    font-size: 1.8rem;
  }
}