.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  text-align: center;
  animation: fadeIn 1s ease 0s 1 normal forwards;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.searchContainer input {
  background-color: var(--card);
  width: 62%;
  padding: 1rem 1.5rem;
  color: var(--texto);
  transition: 0.4s;
  border-radius: 1rem;
  font-size: 1.1rem;
  font-family: var(--fontParrafo);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.searchContainer input:hover {
  background-color: var(--blanco);
}

.searchContainer input:focus {
  border: solid 2px var(--gris);
}

.wrapper .searchContainer .button {
  display: inline-block;
  margin: 0 0.5rem;
  padding: .8rem 2rem;
  border-radius: 1rem;
  background: var(--card);
  font-family: var(--fontBoton);
  font-size: 1.4rem;
  color: var(--texto);
  cursor: pointer;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  transition: .4s;
}

.wrapper .searchContainer .button:hover {
  transform: scale(1.01);
  background: var(--gris);
  color: var(--blanco);
}

.wrapper .containerLists {
  display: flex;
  align-items: center;
  padding: 0 8.7rem;
}

@media (max-width: 450px) {
  .button {
    font-size: 1.8rem;
  }
  .buttonValue {
    font-size: 1.8rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}