.wrapper {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  animation: fadeInBottom 1s ease 0s 1 normal forwards;
}

.searchContainer {
  margin: 0.5em 0 3rem;
}

.searchContainer input {
  background-color: var(--card);
  width: 60%;
  border-bottom: 2px solid var(--limon);
  padding: 1em 0.3em;
  color: #666;
  transition: 0.4s;
  border-radius: 1rem;
  border: var(--)
}

.searchContainer input:hover {
  background-color: var(--blanco);
}

.searchContainer input:focus {
  border-bottom-color: var(--verde);
}

.buttonValue {
  border: 2px solid var(--verde);
  padding: .8rem 3rem;
  border-radius: 3em;
  font-size: 1.2rem;
  background-color: transparent;
  color: #666;
  cursor: pointer;
}

.buttonValue:hover {
  background-color: var(--limon);
  color: white;
}

.active {
  background-color: var(--limon);
  color: #fff;
}

.wrapper .searchContainer .button {
  display: inline-block;
  margin: 0 0.5rem;
  padding: .8rem 2rem;
  border-radius: 1rem;
  background: var(--card);
  font-family: var(--fontBoton);
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  transition: all .3s linear;
}

.wrapper .searchContainer .button:hover {
  transform: scale(1.02);
  background: var(--gris);
}

@media (max-width: 450px) {
  .button {
    font-size: 1.8rem;
  }
  .buttonValue {
    font-size: 1.8rem;
  }
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}