.videogames {
  padding-left: 0;
  border: var(--debug);
}

.videogames .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  gap: 1rem;
}

.videogames .labelResults {
  font-size: 1.5rem;
  color: #666;
  margin-left: 5rem;
}