/* :root {
  --primary-color: #90e0ef;
  --secondary-color: #00b4d5;
  --tertiary-color: #0077b6;
  --yellow-color: #ffb900;
  --gray-color: #808080;
} */

.container {
  background-color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerSummary {
  background: white;
  padding: 2rem 1rem;
  margin-top: 4rem;
  font-size: 2rem;
}

.containerSummary span {
  font-size: 3rem;
}

.containerSummary p {
  font-size: 1.6rem;
  color: #666;

}

.heading {
  text-align: center;
  background: var(--limon);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.5rem;
  text-transform: uppercase;
  padding: 1rem;
}

.box {
  border: .1rem solid rgba(0,0,0,.2);
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  background: white;
  padding: 45px;
  margin: 15px 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  "images info"
  "images description";
  grid-gap: 35px;

}

.box .images {
  grid-area: images;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  "active active active"
  "idle idle idle";
  grid-gap: 5px;
}

.box .images .imgHolder img {
  width: 100%;
  display: block;
  border-radius: .5rem;
}

.box .images .imgHolder {
  grid-area: active;
}

.box .basicInfo {
  grid-area: info;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.box .basicInfo span {
  font-weight: 800;
  font-size: 25px;
}

.box .description {
  grid-area: description;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.box .description p {
  color: #666;
  font-size: 1.6rem;
  line-height: 1.5;
}

.box .description .features {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #666;
  font-size: 1.6rem;
}

.box .description .features i {
  margin-right: 5px;
  color: var(--limon);
}

.box .description span {
  font-size: 2.5rem;
  text-align: left;
}

.box .description .features .fa-circle-check {
  color: var(--tertiary-color);
}

.box .description .features .fa-circle-xmark {
  color: var(--yellow-color);
}

@media (max-width: 990px) {
  .box {
    width: 750px;
    grid-template-areas: 
    "info info"
    "images description";
  }
}

@media screen and (max-width: 991px) and (min-width: 769px) {
  .box .basic-info span {
    position: absolute;
    align-self: flex-end;
  }
}

@media (max-width: 768px) {
  .box {
    width: 600px;
    grid-template-areas: 
    "images info"
    "description description";
  }
  .box .images {
    gap: 3px;
  }
}

@media (max-width: 640px) {
  .box {
    width: 100%;
    min-height: 100vh;
    border-radius: 0;
    padding: 35px;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "images"
    "info"
    "description";
  }
}