.containerDetails {
  color: var(--blanco);
}

.containerDetails .content {
  display: flex;
  padding: 4rem;
  margin: 0 4rem;
  height: 100%;
  background: var(--card);
}

.columnInfo {
  padding-right: 2rem;
}

.containerDetails .content .columnInfo .name {
  font-size: 3.5rem;
  font-family: var(--fontTitulo);
  letter-spacing: 1.6px;
  margin-bottom: 1.5rem;
}

.containerDetails .content .columnInfo .about {
  font-size: 2rem;
  font-family: var(--fontParrafo);
}

.description {
  font-size: 1.3rem;
  font-family: var(--fontParrafo);
  line-height: 23px;
  letter-spacing: 1.3px;
  margin-bottom: 1.5rem;
}

.properties {
  display: flex;
  margin-bottom: 1.5rem;
}

.itemProperty {
  margin-bottom: 2rem;
  margin-right: 3rem;
}

.itemProperty label {
  font-size: 1.3rem;
  font-family: var(--fontParrafo);
  letter-spacing: 1px;
  border-bottom: solid 2px var(--texto);
  color: var(--texto);
}

.itemProperty p {
  margin-top: 1rem;
  font-family: var(--fontBoton);
  font-size: 1.2rem;
  letter-spacing: 1.3px;
}

/* .containerDetails .content .columnImages {
  border: solid 2px purple;
} */

.containerDetails .content .columnImages .containerImage img {
  width: 450px;
}
